.App {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #f8f7f6;
}

html{
  background-color: #f8f7f6;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.position-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* layout */

.container-center {
  display: flex;
  justify-content: center;

}

.header-card{
  display: flex;
  direction: row; 
  justify-content: space-between;

}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;

}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em;

}

.main-container.inner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.dashboard-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  px: 30em;

}
@media (min-width: 200px)  {
  .dashboard-container {
    px: 10em;
  }
}

.bg{
  background-color: #f8f7f6;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Outfit', sans-serif;

}



/* user pages */
.user-dashboard{
  width:70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-container{
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: left;
}

.editable-field{
  display: flex;
  flex-direction: row;
}

.icon-mgL{
  margin-left: 1em;
}

.icon-mgR{
  margin-right: 1em;
}


.icon-nav{
  height: 1em;
  margin-right: 15px;
  color: #8c52fd;
}

.icon-nav:hover{

  color: #d700d3;
}


@media (min-width: 800px) and (max-width: 1050px) {
  .icon-nav {
    height: 0.5em;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .icon-nav {
    height: 1.6em;
  }
}

@media (min-width: 200px) and (max-width: 500px) {
  .icon-nav {
    height: 2.2em;
  }
}

/* NavBar */
.navBar{
  background-color: white;
}

.font-weird{
  font-family: 'Kalam', cursive;
}

.main-font{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
 }



.nav-link {
  margin-right: 1em;
  margin-left: 1em;
  color:#8c52fd;
  font-weight: 600;
  font-family: 'Outfit', sans-serif;


}

.nav-link:hover {

    color: #d700d3;
}

.nav-link:hover .icon-nav,
.icon-nav:hover + .av-link{
  color: #d700d3;
}

.logo-navbar{
  height: 2.8em;
  margin-right: 0.5em;
  padding-bottom: 0.5em;
}



@media (min-width: 800px) and (max-width: 1280px) {
  .logo-navbar {
    height: 3.5em;
    padding-bottom: 0em;

  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .logo-navbar {
    height: 4em;
    padding-bottom: 0em;

  }
}

@media (min-width: 200px) and (max-width: 500px) {
  .logo-navbar {
    display: none;
  }
}




.active-page {
  font-family: 'Outfit', sans-serif;
  color: #8c52fd;
  font-weight: 600;

  margin-right: 1em;
  margin-left: 1em;
}

a {
  text-decoration: none !important;
}

a:visited {
  color: #f2e9e4;
}

/* Home Page */
.main-header {
  font-family: 'Outfit', sans-serif;
    font-weight:900;
  color: #8c52fd;
  font-size: 2.5em;
}



.font-titan{
  font-family: 'Titan One', cursive;

}

.container-fluid .search-button {
  background-color: #8c52fd;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  margin-top: 1em;
}

.container-fluid .search-button h3 {
  color: white;
  text-align: center;
  vertical-align: center;
  padding: 10px;
  margin: auto;
}



.search-button h3 span {
  display: inline-block;
  transform: translateX(10px);
  transition: 1s;
}

.search-button:hover > h3 span {
  transform: translateX(30px);

}

.search-button:hover {
  background:linear-gradient(90deg, rgba(215,0,212,1) 0%, rgba(140,82,253,1) 100%);
}





.typewriter h1 {
  overflow: hidden;
  border-right: .2em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}.typewriter h2 {
   overflow: hidden;
   border-right: .15em solid orange;
   white-space: nowrap;
   margin: 0 auto;
   letter-spacing: .15em;
   animation:
           typing 3.5s steps(40, end),
           blink-caret .75s step-end infinite;
 }

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.sub-header:hover {
  cursor: pointer;
}

.home-welcome-dog-pic {
  margin-top: 2em;
}

.home-welcome-dog-pic :hover {
  cursor: pointer;
}

.errorMsg{
  color:black;
  display: flex;
  justify-content: center;
  margin: 1.5em 1.5em
}

.userLoggedIn{
  margin-right:1.5em;
}

.user-edit-field{
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.2em;

}

.heart-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s;
}
.card-footer-position{
  position: relative;
  bottom: 0;
}

.heart-button:hover {
  transform: scale(1.1);
}

.dog-logo{
  width: 100px;
  height: 100px;
  margin-left: 0.3em;
  background-image: url('../src/images/logo.png'); /* Replace with your SVG paths */
  background-repeat: no-repeat;
  background-position: center;
}

.heart {
  width: 24px;
  height: 24px;
  margin-left: 0.3em;
  background-image: url('../src/images/heartEmpty.svg'); /* Replace with your SVG paths */
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.2s;
}

.heart-button.filled .heart {
  background-image: url('../src/images/heartFilled.svg'); /* Replace with your SVG paths */
}

.bold{
  font-weight: 600;
}
